body, html {
	margin:0;
	height:100%;
	background-color: #FFF;
	font-size: 17px;
}
header .menu {
  display: flex;
  position:fixed;
  width:100%;
  background-color: rgba(0,0,0,0.7);
  z-index:20;
}
header nav {
  margin-left: auto;
  margin-right: auto;
}
header ul.topnav {
  list-style-type: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  overflow: hidden;
}
header ul.topnav li {
	float: left;
	list-style: none;
}
header .menu .menu-close{
	display: none;
}
header .menu .menu-open{
	display: none;
}
header ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
header ul.topnav li a:hover {
	background-color: #555;
}
header a.icon-menu{
	height: 25px;
    width: 46px;
}
header .icon-open{
	background: url("assets/menu.png") center center;
	height: 25px;
    width: 30px;
}
header .icon-close{
	height: 25px;
    width: 30px;
}
ul.topnav li.icon {display: none;}
.container-large{
	width:100%;
}
.container-large img
{
	width:100%;
	height:100%;
	margin: 0 auto;
	padding: 0;
}
article{
	width:70%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
article .article{
	float:left;
	margin-bottom:3%;

}
article span{
	text-decoration: underline;
}
article .article.texte{
	width:50%;
	margin-right: 10%;
	margin-top:8%;
	margin-bottom: 8%;
}
article .article.publicite{
	width:30%;
	text-align: center;
	position: relative;
}
article .article.publicite img{
	width: 60%;
	bottom: 0px;
	left: 0;
	position: absolute;
}
article .float-none{
	float:none;
}
#robot{
	width:60%;
	height:auto;
	padding:0;
	margin-top: 5%;
	margin-bottom: 5%;
}
#robot .texte-robot{
	width:100%;
	height:auto;
	text-align:justify;
	font-size:16px;
}
#robot .gauche {
	float:left;
	margin:0;
	margin: 0 30px 10px 0;
}
#robot img {
	width:auto;
	height:100%;
}
#robot h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}
#robot li {
	list-style: none;
}
#robot ul {
	margin: 0;
	-webkit-padding-start: 0px;
}
.parallax.bk-logo {
	background-image: url("assets/header-bg-2x.png") ;
}
.parallax.logo {
    background: url("assets/logo.png") no-repeat center center;
}
.parallax.epee {
	background-image: url("assets/kiloren-2x.jpg");
	z-index:10;
}
.parallax.army {
    background-image: url("assets/stormtroopers-2x.jpg");
}
.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position:relative;
}
footer{
	width: 100%;
	height:500px;
	background: #181818 url("assets/darthvader_2x.jpg") no-repeat center top;
	color: #9B9B9B;
	font-size: 16px;
}
footer a{
	color: #9B9B9B;
}
footer a:hover{
	color: #FFF;
}
footer .footer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
footer .col3{
	float: left;
	width: 30%;
	text-align: center;
	margin-top: 5%;
}
footer .col3 li{
	list-style: none;
	margin-bottom: 16px;
	text-decoration: underline;
}
footer .col3 .icons{
	margin-top: 8%;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
footer .icons img{
	width: 85%;
}
footer .copyright{
	text-align: center;
	margin-bottom: 20px;
	padding-top: 5%;
}
footer .icons li{
	float: left;
	width: 25%;
	margin-left: 5%;
}
/*************************************************************/
/************************ MEDIA QUERIES **********************/
/*************************************************************/

/* tablette en paysage, écran d’ordinateur de taille petite et moyenne */
@media all and (max-device-width: 1280px)
{
	article .article.publicite img {
		width: 100%;
	}
}

/* smartphone en paysage, tablette en portrait et petite tablette en paysage */
@media all and (max-device-width: 959px)
{
	.parallax {
		height: 50%;
	}
	.parallax.bk-logo {
		background-image: url("assets/header-bg.png") ;
	}
	.parallax.logo {
		height: 100%;
	}
	.parallax.epee {
		background-image: url("assets/kiloren.jpg");
		z-index:10;
	}
	.parallax.army {
		background-image: url("assets/stormtroopers.jpg");
	}
	footer .col3{
		width: 50%;
	}
	footer .col3:nth-child(4) {
		float: none;
		text-align: center;
		margin-left: auto;
		margin-right: 0;
		margin-top: 24%;
	}
	footer .col3:nth-child(4) p
	{
		float:left;
	}
	footer .col3 .icons
	{
		float:left;
		margin-top: 0;
		width: auto;
	}
}
/* smartphone en portrait */
@media all and (max-device-width: 479px)
{
	body, article{
		font-size: 24px;
	}
	header .dropbtn {
		background-color: #000;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	}
	header .dropdown {
		position: relative;
		display: inline-block;
	}
	header .menu  .menu-close{
		display: none;
		position: fixed;
		left:0;
	}
	header .menu .menu-open{
		display: block;
		position: fixed;
		right:0;
	}
	header .dropdown-content {
		display: none;
		min-width: 200px;
		right: 20%;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	header .dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	header .dropdown-content li {
		width: 100%;
		font-size: 4em;
	}
	header .dropdown a:hover {
		background-color: #f1f1f1;
	}
	header .show {
		display:block;
	}
	header .dropdown button	{
		display: block;
	}
	header nav {
		margin-right: 20px;
	}
	article .article{
		float:none;
	}
	article .article.texte{
		width:100%;
	}
	article .article.publicite{
		display: none;
	}
	#robot{
		width:80%;
	}
	#robot .texte-robot{
		font-size: 24px;
	}
	#robot h2{
		font-size: 3em;
	}
	#robot .gauche {
		float: none;
		width: 100%;
		margin: 50px 30px 50px 0;
	}
}
